.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background: #2563eb;
}

.navbar h2 {
    color: white;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}